/*heading*/
body{
    background-color: #d3f6f3;
    text-align: center;
}
h1{
    font-family: "Berkshire Swash", cursive;
    font-size: 10rem;
    color: #60a9a6;
    text-align: center;
    margin-bottom: 25px;
    background-color: #c6f1d6;
}
h3{
    font-family: "Rock Salt", cursive;
    font-size: 2rem;
    color: #60a9a6;    
    margin: 25px auto;
}
